.mainHeader {
    text-align: center;
    color: brown;
    text-decoration: brown;
    font-weight: bold;
}
#des1 {
    font-size: large;
    color: aqua;
}
.a {
    text-decoration: none;
    color: chocolate;
}
