.img1 {
    margin-left: 20px;
    width: 600px;
    margin-left: 20px;
}
.header {
    margin-left: 20px;
    font-weight: bold;
    color: chocolate;
}
.header2 {
    margin-left: 100px;
    font-size: larger;
    color: chocolate;
    font-weight: bolder;
}
.ul {
    color: chocolate;
}
#des1 {
    font-weight: bold;
}
.btn {
    border-radius: 20px;
    background-color: chocolate;
    color: white;
    margin-left: 100px;
}
